[submodule "motortown-server-flake"]
	path = motortown-server-flake
	url = ../motortown-server-flake.git
[submodule "amc-backend"]
	path = amc-backend
	url = ../amc-backend.git
[submodule "necesse-server"]
	path = necesse-server
	url = ../necesse-server.git
[submodule "eco-server"]
	path = eco-server
	url = ../eco-server.git
[submodule "amc-peripheral"]
	path = amc-peripheral
	url = ../amc-peripheral.git
